@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegTest</title>
</head>
<body>
    <div>
        <form action="/api/Testapi" method="post">
            <input type="text" name="username" />
            <input type="submit" value="提交" />
        </form>
    </div>
</body>
</html>
